
.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}
  
.drop-container:hover {
    background: #eee;
    border-color: #111;
}
  
.drop-container:hover .drop-title {
    color: #222;
}
  
.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}
  
input[type=file] {
    font-weight:bold;
    width: 350px;
    max-width: 100%;
    color:#777777;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #555;
    background-color:#ffff;
  
}
  
input[type=file]::file-selector-button {
    border: 1px solid #555;
    margin-right: 20px;
    border: none;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    padding: 10px 20px;
    border-radius: 10px;
    color:#777777;
    cursor: pointer;
}
  
  
input[type=file]::file-selector-button:active{
    position:relative;
    top:2px;
}

.inputFile {
    margin: 15px;
}